h1{
    text-align: center;
}
h2{
 text-align: center;
 color: white;
}
div{
    margin-left: 400px;
    width: 300px;
    height: 400px;
    background-color: rgba(0, 255, 255, 0.313);
    background-image: linear-gradient(to left,rgb(253, 192, 255),rgb(185, 126, 0));
}
 #username
{
    border-radius: 25px;
    text-align: center;
    height: 20px;
}
#name{
    margin-left: 30px;
}
#mail{
    margin-left: 30px;
}
#ph{
    margin-left: 30px;
}
#usermail
{
    border-radius: 25px;
    text-align: center;
    height: 20px;
}
#userph
{
    border-radius: 25px;
    text-align: center;
    height: 20px;
} 
#form{
    margin: 80px;
    margin-top: 20px;

}
#signup
{
    margin-top: -60px;
    margin-left: 80px;
    border-radius: 25px;
}
button{
    border-radius: 25px;
    height: 30px;
    width: 70px;
    margin-top: 5px; 
    margin-left: 50px;
}

